<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>

    @*@if (IsSectionDefined("Scripts"))
    {
        // 判断是否存在节点
        // 有{}才需要;
    }*@

    @RenderSection("Scripts", required: false)
</body>
</html>
